*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio dell'header */
/* Inizio dell'intestazione */
.intestazione{
    background-color: rgba(78,160,255,255);
    background-image: url(../img/pattern.png);
    width: 8000px;
    height: 187px;
}

#logo{
    margin: 75px 0 0 15px ;
    width: 390px;
    height: 100px;
}
/* Fine dell'intestazione */

.container{
    margin-left: 15px;
}

h1{
    font-size: 50px;
}

#foot-h1{
    color: rgba(170,170,170,255);
    font-size: 22px;
    margin: 0;
}

#text-blue{
    color: rgba(54,177,231,255);
}

#data{
    color: rgba(170,170,170,255);
    font-size: 15px;
    margin: 0;
}

#tim-photo-left{
    width:515px;
    height: 342px;
    margin-top: 35px;
}

#tim-photo-right{
    width: 435px;
    height: 342px;
}

#commento{
    font-size: 10px;
}
/* Fine dell'header */
/* Inizio del main */


.text-bg-yellow{
    background-color: yellow;
}

.paragraph{
    margin-top: 20px;
}

.first-paragraph{
    margin-left: 15px;
    margin-top: 40px;
}

.colonna-stretta{
    width: 25%;
    color: white;
    padding-right: 15%;
}

.colonna-larga{
    color: white;
    padding-right: 40%;
}

table{
    margin-top: 20px;
}

thead{
    background-color: rgba(32,169,229,255);
}

tbody{
    background-color: rgba(177,229,242,255);
}

#riga-centrale{
    background-color: white;
}

